<div class="container">
  <header>
    <h1>Todo List</h1>

    <!-- add a form below the h1 -->
    <form class="new-task" ng-submit="addTask(newTask); newTask='';">
      <input ng-model="newTask" type="text"
             name="text" placeholder="Type to add new tasks" />
    </form>
  </header>

  <ul ng-repeat="task in tasks">
    <li ng-class="{'checked': task.checked}">
      <button class="delete" ng-click="tasks.remove(task)">&times;</button>

      <input type="checkbox" ng-model="task.checked" class="toggle-checked" />

      <span class="text">{{task.text}}</span>
    </li>
  </ul>
</div>
